body{
    width: 100%;
    height: 600px;
    background-color: #34495e;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
    
}
p{
    margin: 0px;
}
.containe{
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    align-self: center;
    border-radius: 10px;
    background-color: white;
    height: 420px;
    max-height:500px;
    width: 25%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 7px 5px rgba(0,0,0,0.5);
    

}

.containe .text-box{
   margin-top: 16px;
   padding: 0px 10px 0px 10px;
}
.containe .cont-list{
    margin-top: 10px;
    text-align: center;
    align-self: center;
    height: auto;
    max-height: 420px;
    width: auto;
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
   
    
}
.containe .cont-list ul{
    color: white;
margin-right: 30px;
    list-style: none;
    display: flex;
    flex-direction: column; 
    
}



@media screen and (max-width:800px) {
 
    .containe{

        height: 420px;
        max-height:500px;
        width: 35%;
      
        
    
    }
    
}

@media screen and (max-width:400px) {
 
    .containe{
        margin:0;
        height:420px;
        max-height:500px;
        width: 230px;
      
        
    
    }
    
}

